// ===================
//    VARIABLES
// ===================

$font-family-body: Arial,"Helvetica Neue",Helvetica,sans-serif;
$font-family-header: Arial,"Helvetica Neue",Helvetica,sans-serif;
$font-family-alternate: 'Helvetica Regular', sans-serif;
$font-family-fontAwesome: 'FontAwesome';
$font-normal: 400;
$font-bold: 700;
$font-bolder: 900;

$h1: 1.5rem;
$h2: 1.25rem;
$h3: 1.1875rem;
$h4: 1.125rem;
$h5: 1.0625rem;
$h6: 1rem;

$miniH1: 1.40rem !important;
$miniH2: 1.15rem !important;
$miniH3: 1.0875rem !important;
$miniH4: 1.025rem !important;
$miniH5: .9625rem !important;
$miniH6: .9rem !important;

$bodyMaxWidth: 1080px;
$bodyWidth: 90%;
$heightFull : 100%;

$borderColor1: #d4d8d9;
$borderColor2: #dbdbdb;
$borderColor3: #ebebeb;

$colorBlack1: #081332;
$colorBlack2: #444;
$colorBlack3:#686868;
$colorBlack4: #777777;

$colorGray1: #ccc;
$colorGray2: #cacaca;
$colorGray3: #deecf1;
$colorGray4: #ecf0f1;
$colorGray5: #f5f5f5;

$colorWhite : #fff;

$colorBlue: #008bc0;

$color_btn_blue_1: #3498db;
$color_btn_blue_2: #3cb0fd;
$color_btn_green_1: #27ae60;
$color_btn_green_2: #68db21;
$color_btn_red_1: #e74c3c;
$color_btn_red_2: #f56c5f;

$labelMargin : 20px;

$col-div-1: 8.33%;
$col-div-2: 16.66%;
$col-div-3: 24.99%;
$col-div-4: 33.32%;
$col-div-5: 41.65%;
$col-div-6: 49.98%;
$col-div-7: 56%;
$col-div-8: 66.64%;
$col-div-9: 74.97%;
$col-div-10: 83.3%;
$col-div-11: 91.63%;
$col-div-12: 100%;